.DS_Store

readme.md
license.md
install.php
index.php
contributing.md
build.php
example.htaccess
system/*
modules/*
application/cache/*
application/logs/*

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
